<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <!-- Angulars Material CSS using RawGit to load directly from `bower-material/master` -->
    <link rel="stylesheet" href="//rawgit.com/angular/bower-material/master/angular-material.css">

    <link href="/css/global.css" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">

    <!-- Angular Material Dependencies -->
    <script src="//cdn.jsdelivr.net/hammerjs/2.0.4/hammer.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-animate.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-aria.js"></script>

    <!-- Angular Material Javascript using RawGit to load directly from `bower-material/master` -->
    <script src="//rawgit.com/angular/bower-material/master/angular-material.js"></script>

    <script src="/js/admin/app.js"></script>
    <script src="/js/admin/session.js"></script>
    <script src="/js/admin/articles.js"></script>
</head>
<body ng-app="sett-site-admin">
    <div layout="row" ng-controller="side-nav-controller">
        <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$media('gt-md')">
            <md-toolbar>
                <a href="/admin/dashboard.html">
                    <h1 class="md-toolbar-tools">Sett Admin</h1>
                </a>
            </md-toolbar>
            <md-content class="md-padding" ng-controller="side-nav-controller">
                <a href="/admin/articles.html">
                    <h1 class="md-toolbar-tools">Articles</h1>
                </a>
            </md-content>
        </md-sidenav>
        <md-content id="page-content">
            <md-toolbar>
                <h2 class="md-toolbar-tools">
                    <md-button hide-gt-md ng-click="openLeftMenu()">
                        <i class="fa fa-bars"></i>
                    </md-button>
                    <span>Articles</span>
                </h2>
            </md-toolbar>
            <div ng-controller="article-controller">
                <div class="floating-toolbar" layout="row" layout-align="space-around center">
                    <md-button class="md-fab md-accent" ng-click="newArticle()">+</md-button>
                </div>
                <div id="article-list">
                    <div ng-repeat="article in articles" ng-include="'/templates/article-edit.html'"></div>
                </div>
            </div>
        </md-content>
    </div>
</body>
</html>
