<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <!-- Angulars Material CSS using RawGit to load directly from `bower-material/master` -->
    <link rel="stylesheet" href="//rawgit.com/angular/bower-material/master/angular-material.css">

    <link href="/css/global.css" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">

    <!-- Angular Material Dependencies -->
    <script src="//cdn.jsdelivr.net/hammerjs/2.0.4/hammer.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-animate.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-aria.js"></script>

    <!-- Angular Material Javascript using RawGit to load directly from `bower-material/master` -->
    <script src="//rawgit.com/angular/bower-material/master/angular-material.js"></script>

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular-sanitize.min.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/textAngular/1.2.2/textAngular.min.js"></script>

    <script src="/js/admin/query-string.js"></script>
    <script src="/js/admin/session.js"></script>
    <script src="/js/admin/edit-article.js"></script>
    <script src="/js/admin/app.js"></script>
</head>
<body ng-app="sett-site-admin">
    <div layout="row" ng-controller="side-nav-controller">
        <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$media('gt-md')">
            <md-toolbar>
                <a href="/admin/dashboard.html">
                    <h1 class="md-toolbar-tools">Sett Admin</h1>
                </a>
            </md-toolbar>
            <md-content class="md-padding" ng-controller="side-nav-controller">
                <a href="/admin/articles.html">
                    <h1 class="md-toolbar-tools">Articles</h1>
                </a>
            </md-content>
        </md-sidenav>
        <md-content id="page-content">
            <md-toolbar>
                <h2 class="md-toolbar-tools">
                    <md-button hide-gt-md ng-click="openLeftMenu()">
                        <i class="fa fa-bars"></i>
                    </md-button>
                    <span>Edit Article</span>
                </h2>
            </md-toolbar>
            <div class="container" ng-controller="article-revision-controller" layout="column" layout-align="center center">
                <div layout="row">
                    <div layout="column">
                        <md-text-float id="article-title" ng-model="articleRevision.Title" label="Title"></md-text-float>
                        <md-text-float id="article-summary" ng-model="articleRevision.Summary" label="Summary"></md-text-float>
                    </div>
                    <div layout="column">
                        <h2>Featured Image</h2>
                        <img ng-src="/api{{articleRevision.FeaturedImage.Url}}" />
                        <form enctype="multipart/form-data">
                            <input name="file" type="file" />
                            <input id="image-upload" type="button" value="Upload" />
                        </form>
                    </div>
                </div>
                <h2>Content</h2>
                <text-angular ng-model="articleRevision.Content" text-angular-name="Content"></text-angular>
                <md-button id="login" class="md-raised md-primary" ng-click="newRevision()">Post</md-button>
            </div>
        </md-content>
    </div>    
</body>
</html>
