body {
    overflow: hidden;
    height: 100%;
}

#page {
    height: 100%;
}

#page-content {
    width: 100%;
    & md-toolbar {
      position: fixed;
    }
}

#page-view {
    min-width: 100%;
    overflow-y: auto;
    margin-top: 64px;
}

#page-view > div {
    min-width: 100%;
}

.image-overlay {
    background-color: rgba(33,150,243, 0.5);
    padding: 10px;
    color: #fff;
}
