<md-content class="md-padding">
    <div layout="column" layout-align="center">
        <div layout="column">
            <md-input-container flex>
                <label>Title</label>
                <input ng-model="selectedRevision.Title" placeholder="Title" />
            </md-input-container>
            <md-input-container flex>
                <label>Summary</label>
                <input ng-model="selectedRevision.Summary" placeholder="Summary" />
            </md-input-container>
            <md-input-container flex>
                <label>Image Url</label>
                <input ng-model="selectedRevision.FeaturedImageUrl" placeholder="FeaturedImageUrl" />
            </md-input-container>
            <label>Content</label>
            <text-angular ng-model="selectedRevision.Content"></text-angular>
            <md-button id="submit-revision" class="md-raised md-primary" ng-click="submitRevision()" ng-disabled="attemptingSubmit">Post</md-button>
            <md-progress-linear md-mode="indeterminate" ng-show="attemptingSubmit"></md-progress-linear>
        </div>
    </div>
</md-content>