<!DOCTYPE html>
<html>
<head>
    <title></title>
    <base href="/admin">
    <meta name="viewport" content="initial-scale=1">
    <link data-require="bootstrap@*" data-semver="3.3.2" rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/0.8.3/angular-material.css">
    <link href="/css/global.css" rel="stylesheet">
    <link href="/admin/css/global.css" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/angular.textangular/1.3.7/textAngular.css" />
    <script data-main="/admin/js/main" src="/js/vendor/require.js"></script>
</head>
<body ng-controller="body">
    <div class="overlay" ng-hide="pageLoaded">
        <div class="loading">
            <h1><i class="fa fa-refresh pulse-rotate"></i>Loading</h1>
        </div>
    </div>
    <div id="page" layout="row">
        <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
            <md-toolbar>
                <a href="/admin">
                    <h1 class="md-toolbar-tools">Admin</h1>
                </a>
            </md-toolbar>
            <md-content class="md-padding">
                <h1 class="md-toolbar-tools">Hey, {{user.FirstName}}!<small ng-click="logout()">logout</small></h1>
                <a href="/admin/articles">
                    <h1 class="md-toolbar-tools">Articles</h1>
                </a>
            </md-content>
        </md-sidenav>
        <div id="page-content" layout="column">
            <md-toolbar ng-controller="toolbar">
                <h2 class="md-toolbar-tools">
                    <md-button hide-gt-md ng-click="openLeftMenu()">
                        <i class="fa fa-bars"></i>
                    </md-button>
                    <span>{{title}}</span>
                </h2>
            </md-toolbar>
            <md-content id="page-view" layout-fill class="at-view-slide-in-right at-view-slide-out-right" ng-view></md-content>
        </div>
    </div>
</body>
</html>